@define-color background alpha(#c5e7ff, 0.1);
@define-color primary #c5e7ff;
@define-color on-primary #00344b;
@define-color secondary #d2e5f4;
@define-color on-secondary #20333e;
@define-color success #e7deff;
@define-color surface-variant #41484d;
@define-color surface #0f1417;
@define-color on-surface #dfe3e7;
@define-color on-surface-variant #c1c7ce;
@define-color outline #8b9297;
@define-color outline-variant #41484d;