@define-color background alpha(#c7e7ff, 0.1);
@define-color primary #c7e7ff;
@define-color on-primary #00344c;
@define-color secondary #d2e5f5;
@define-color on-secondary #21323e;
@define-color success #e9ddff;
@define-color surface-variant #41484d;
@define-color surface #101417;
@define-color on-surface #dfe3e7;
@define-color on-surface-variant #c1c7ce;
@define-color outline #8b9198;
@define-color outline-variant #41484d;