@define-color background alpha(#b7eaff, 0.1);
@define-color primary #b7eaff;
@define-color on-primary #003544;
@define-color secondary #cfe6f1;
@define-color on-secondary #1e333b;
@define-color success #e1e0ff;
@define-color surface-variant #40484c;
@define-color surface #0f1416;
@define-color on-surface #dee3e6;
@define-color on-surface-variant #bfc8cc;
@define-color outline #8a9296;
@define-color outline-variant #40484c;