@define-color background alpha(#9df0f7, 0.1);
@define-color primary #9df0f7;
@define-color on-primary #00363a;
@define-color secondary #cce8ea;
@define-color on-secondary #1b3436;
@define-color success #d7e3ff;
@define-color surface-variant #3f4849;
@define-color surface #0e1415;
@define-color on-surface #dde4e4;
@define-color on-surface-variant #bec8c9;
@define-color outline #899393;
@define-color outline-variant #3f4849;