@define-color background alpha(#d6e3ff, 0.1);
@define-color primary #d6e3ff;
@define-color on-primary #06305f;
@define-color secondary #d9e3f8;
@define-color on-secondary #273141;
@define-color success #f9d8fe;
@define-color surface-variant #43474e;
@define-color surface #111318;
@define-color on-surface #e2e2e9;
@define-color on-surface-variant #c4c6cf;
@define-color outline #8e9099;
@define-color outline-variant #43474e;