@define-color background alpha(#ffdad5, 0.1);
@define-color primary #ffdad5;
@define-color on-primary #561e19;
@define-color secondary #ffdad5;
@define-color on-secondary #442926;
@define-color success #fddfa6;
@define-color surface-variant #534341;
@define-color surface #1a1110;
@define-color on-surface #f1dedc;
@define-color on-surface-variant #d8c2bf;
@define-color outline #a08c8a;
@define-color outline-variant #534341;