@define-color background alpha(#ffd8ea, 0.1);
@define-color primary #ffd8ea;
@define-color on-primary #511d3d;
@define-color secondary #fcd9e9;
@define-color on-secondary #402a35;
@define-color success #ffdbc9;
@define-color surface-variant #504349;
@define-color surface #181115;
@define-color on-surface #eddfe3;
@define-color on-surface-variant #d4c2c8;
@define-color outline #9c8d93;
@define-color outline-variant #504349;