@define-color background alpha(#ffdadb, 0.1);
@define-color primary #ffdadb;
@define-color on-primary #561d25;
@define-color secondary #ffdadb;
@define-color on-secondary #44292b;
@define-color success #ffddb4;
@define-color surface-variant #524344;
@define-color surface #1a1112;
@define-color on-surface #f0dedf;
@define-color on-surface-variant #d7c1c2;
@define-color outline #9f8c8d;
@define-color outline-variant #524344;