@define-color background alpha(#d8e2ff, 0.1);
@define-color primary #d8e2ff;
@define-color on-primary #102f60;
@define-color secondary #dbe2f9;
@define-color on-secondary #293041;
@define-color success #fbd7fc;
@define-color surface-variant #44474f;
@define-color surface #111318;
@define-color on-surface #e2e2e9;
@define-color on-surface-variant #c4c6d0;
@define-color outline #8e9099;
@define-color outline-variant #44474f;