@define-color background alpha(#ffdad4, 0.1);
@define-color primary #ffdad4;
@define-color on-primary #561e15;
@define-color secondary #ffdad4;
@define-color on-secondary #442925;
@define-color success #fae0a6;
@define-color surface-variant #534340;
@define-color surface #1a1110;
@define-color on-surface #f1dfdb;
@define-color on-surface-variant #d8c2be;
@define-color outline #a08c89;
@define-color outline-variant #534340;