@define-color background alpha(#a4f2d5, 0.1);
@define-color primary #a4f2d5;
@define-color on-primary #00382a;
@define-color secondary #cee9dc;
@define-color on-secondary #1e352d;
@define-color success #c3e8fe;
@define-color surface-variant #3f4944;
@define-color surface #0f1512;
@define-color on-surface #dee4df;
@define-color on-surface-variant #bfc9c3;
@define-color outline #89938e;
@define-color outline-variant #3f4944;