@define-color background alpha(#baf0b6, 0.1);
@define-color primary #baf0b6;
@define-color on-primary #053911;
@define-color secondary #d5e8cf;
@define-color on-secondary #253424;
@define-color success #bcebf2;
@define-color surface-variant #424940;
@define-color surface #10140f;
@define-color on-surface #e0e4db;
@define-color on-surface-variant #c2c9bd;
@define-color outline #8c9388;
@define-color outline-variant #424940;