@define-color background alpha(#ffdad3, 0.1);
@define-color primary #ffdad3;
@define-color on-primary #561f13;
@define-color secondary #ffdad3;
@define-color on-secondary #442a24;
@define-color success #f9e0a6;
@define-color surface-variant #534340;
@define-color surface #1a110f;
@define-color on-surface #f1dfdb;
@define-color on-surface-variant #d8c2bd;
@define-color outline #a08c88;
@define-color outline-variant #534340;