@import "../colors.css";
@define-color light_bg rgba(255, 255, 255, 0.15);

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 600;
  border: none;
  color: #f2efdf;
}

#waybar {
  border-radius: 8px;
  background-color: @surface;
  border: 1px solid transparent;
}

#waybar.hidden {
  opacity: 0.5;
}

#custom-space {
  min-height: 60px;
  padding: 0;
  background-color: transparent;
}

#custom-logo {
  padding: 1px 6px;
  padding-left: 0;
  margin: 0 4px;
  margin-top: 4px;
  font-size: 20px;
  color: @surface;
  border-radius: 8px;
  background-color: @secondary;
}

#custom-screenshot {
  font-size: 18px;
}
#custom-weather {
  font-size: 13px;
}

#clock {
  font-size: 14px;
  margin-top: 8px;
  font-weight: 800;
}
#workspaces {
  margin: 0 2px;
  padding: 4px 0;
  border-radius: 8px;
  background-color: @secondary;
}
#workspaces button {
  margin: 2px 4px;
  min-width: 24px;
  border-radius: 8px;
  background-color: @outline;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1);
}
#workspaces button.active {
  min-height: 42px;
  background-color: @surface;
}

#bluetooth,
#network,
#custom-power {
  color: @surface;
  margin: 0 2px;
  padding-right: 6px;
  background-color: @primary;
}
#bluetooth {
  padding: 0 6px;
  padding-top: 2px;
  font-size: 17px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#network {
  font-size: 13px;
}
#custom-power {
  padding-right: 4px;
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
