@import "../colors.css";
@define-color light_bg rgba(255, 255, 255, 0.15);

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 600;
  border: none;
  color: #f2efdf;
}

window#waybar {
  border-radius: 8px;
  background-color: @surface-variant;
  border: 1px solid @outline;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
  border: 0px;
  background-color: transparent;
}

#custom-space {
  min-height: 60px;
  padding: 0;
  background-color: transparent;
}

#custom-logo {
  margin-top: 4px;
  font-size: 22px;
}
#custom-title {
  font-family: "Raleway";
}
#custom-screenshot {
  font-size: 18px;
}
#custom-weather {
  font-size: 13px;
}

#clock {
  font-size: 14px;
  margin-top: 8px;
  font-weight: 800;
  /* font-family: "Montserrat"; */
}
#workspaces button {
  margin: 2px 5px;
  min-width: 24px;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1);
  background-color: @outline;
}
#workspaces button.active {
  min-height: 42px;
  background-color: @primary;
}

#bluetooth,
#network,
#custom-power {
  margin: 0 4px;
  min-width: 16px;
  padding: 0 4px;
  border-radius: 0px;
  background-color: @light_bg;
}
#bluetooth {
  padding: 0 6px;
  padding-top: 2px;
  font-size: 17px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#custom-power {
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
